<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clasificador</title>
  </head>
  <body>
    <h1>Clasificador de Archivos</h1>
    <section id="main">
      <form id="allocate">
        <div id="method">
          <input type="radio" id="method1" name="method" value="move" checked />
          <label for="method1">Mover</label>
          <input type="radio" id="method2" name="method" value="copy" />
          <label for="method2">Copiar</label>
        </div>
        <input type="submit" value="Clasificar" />
      </form>
    </section>
    <% if(wereAllocated) { %>
    <h3>Los archivos fueron ordenados</h3>
    <% } %>
    <a href="config">Ver rutas</a>
  </body>
</html>
